<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Form</title>
   <link rel="stylesheet" href="styles.css">
</head>

<body>
   <nav id="navbar">
      <ul>
         <img id="logo" src="logos.png" alt="not found logo">
         <li><a href="/html/">Home</a> </li>
         <li><a href="/css/">About</a> </li>
         <li><a href="/js/">Service</a></li>
         <li><a href="/python/">Class Inf</a></li>
         <li><a href="/python/">Contact</a></li>
      </ul>
   </nav>

   <form action="/contact", method="POST"  class="myform">
      <input type="text"class= “name” name="name" placeholder="Enter your name..">
      <input type="phone" class= “myInput” name="phone" placeholder="Enter your name..">
      <input type="email" class= “myInput” name="email" placeholder="Enter your email..">
      <input type="text" name="firstname" placeholder="Your name..">
   </form>
</body>
</html>