<!DOCTYPE html>
<html>
   <head>
      <title>welcome in dance website</title>
      <link rel="stylesheet" href="styles.css">
   </head>
   
   <body>

      <nav id="navbar">
         <ul>
            <img id="logo" src="./image/logos.png" alt="not found logo">
            <li><a href="/html/">Home</a> </li>
            <li><a href="/css/">About</a> </li>
            <li><a href="/js/">Service</a></li>
            <li><a href="/python/">Class Inf</a></li>
            <li><a href="/python/">Contact</a></li>
         </ul>
      </nav>
      <!-- <h1 id="hi">welcome in dance academy</h1> -->
      <section>
         <div id="intro"> Welcome to Dance Academy</div>
         <div id="category">Our Mission<br>

            <div id="card">
               <h5>Dance perfection</h5>
               <div id="img">
                  <img src="./image/dancer1.jpeg" alt="not found">
               </div>
            </div>

            <div id="card">
               <h5>Dance the way you like</h5>
               <div id="img">
                  <img src="./image/danver2.png" alt="not found">
               </div>
            </div>

            <div id="card">
               <h5>Expert teaching from coach</h5>
               <div id="img">
                  <img src="./image/dancer3.jpg" alt="not found">
               </div>
            </div>
         </div>
      </section>

      <section>
         <div id="sponsor">Our Sponsor</div>
      </section>
      
   </body>
</html>